@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #444444;
  padding: 3rem; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 4.8rem;
    font-weight: 600;
    letter-spacing: 1.2rem;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count: 3;

		animation-delay: 3s;*/ }
  .heading-primary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    margin-bottom: 3rem;
    animation: moveInRight 0.5s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #3C3BFF, #9F69FF);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in-out; }
  .heading-secondary:hover {
    transform: skewX(20deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-mb-small {
  margin-bottom: 1.5rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-large {
  margin-bottom: 8rem; }

.u-mt-small {
  margin-top: 1.5rem; }

.u-mt-medium {
  margin-top: 4rem; }

.u-mt-large {
  margin-top: 8rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffffff;
  padding: 1.5rem 3rem;
  border-radius: 0.2rem;
  color: #444444; }
  .btn--white::after {
    background-color: #ffffff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-in-out 0.75s;
  /* Applies the initial state of an animation from the start */
  animation-fill-mode: backwards; }

.btn--blue {
  background: linear-gradient(to right, #3C3BFF, #6B50FF);
  padding: 1.5rem 3rem;
  border-radius: 0.2rem;
  color: #ffffff; }
  .btn--blue::after {
    background: linear-gradient(to right, #3C3BFF, #6B50FF); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #3C3BFF;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3C3BFF;
  padding: 3px;
  transition: all 0.3s ease-in-out; }

.btn-text:hover {
  background-color: #6B50FF;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translate(2px); }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #6B50FF;
      box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
      transform: scale(1.05);
      z-index: 11; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: #ffffff;
  font-size: 1.5rem;
  border-radius: 2px;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #3C3BFF, #6B50FF);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-10px) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    transition: all 0.5s ease-in-out;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    2
.card__side--front {
      background: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background: linear-gradient(to right bottom, #3C3BFF, #6B50FF); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
    .card__picture--1 {
      background-image: linear-gradient(to right, #9f69ff, #6b50ff), url("https://images.unsplash.com/photo-1555538284-0649b24e48ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80"); }
    .card__picture--2 {
      background-image: url("https://images.unsplash.com/photo-1555538284-0649b24e48ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80"); }
    .card__picture--3 {
      background-image: url("https://images.unsplash.com/photo-1555538284-0649b24e48ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(60, 59, 255, 0.85), rgba(107, 80, 255, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eeeeee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #ffffff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-9deg); }
  .story > * {
    transform: skewX(9deg); }
  .story__shape {
    position: relative;
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(9deg); }
  .story__image {
    width: 100%;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffffff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: scale(1);
    filter: blur(1px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, #3c3bff, #6b50ff), url("https://images.unsplash.com/photo-1555327689-6089f2c03cea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__logo {
    font-size: 36px;
    color: #ffffff; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background: linear-gradient(to right, #6B50FF, #9F69FF);
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -10rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }
