// Colors
$color-primary: #3C3BFF;
$color-secondary: #6B50FF;
$color-tertiary: #9F69FF;

$color-gray-dark: #444444;
$color-white: #ffffff;
$color-black: #000000;

$color-gray-light-1: #f7f7f7;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;