.card {

	// Functionality
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 50rem;

	&__side {
		transition: all 0.5s ease-in-out;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .15);2
	
		&--front{
			background: $color-white;
		}

		&--back {
			transform: rotateY(180deg);
			
			&--1 {
				background: linear-gradient(to right bottom, $color-primary, $color-secondary);
			}

		}

	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0deg);
	}
	
	//Front Side Styling

	&__picture {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 23rem;
		background-blend-mode: screen;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		
		&--1 {
			background-image: linear-gradient(to right, rgba($color-tertiary, 1), rgba($color-secondary, 1)),url('https://images.unsplash.com/photo-1555538284-0649b24e48ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80');
		}

		&--2 {
			background-image: url('https://images.unsplash.com/photo-1555538284-0649b24e48ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80');
		}

		&--3 {
			background-image: url('https://images.unsplash.com/photo-1555538284-0649b24e48ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80');
		}

	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		text-align: right;
		width: 75%;
		
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(to right bottom, rgba($color-primary, .85), rgba($color-secondary, .85))
		}
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;

			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;
				&:not(:last-child) {
					border-bottom: 1px solid #eeeeee;
				}
			}
		}

	}

	// Back Side Styling

	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__price-box {
		margin-bottom: 8rem;
		color: $color-white;
	}

	&__price-only {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 6rem;
		font-weight: 100;
	}

}